@mixin row($gap: null) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: #{spacing($gap)};
}

@mixin column($gap: null) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: #{spacing($gap)};
}

@mixin grid($gap: null) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: #{spacing($gap)};
}
